/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

/*//////////////////////////////////////////////////////////////////
  [ RESTYLE TAG ]*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

/*---------------------------------------------*/

a {
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
  color: #333333;
}

/*---------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

p {
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
}

ul,
li {
  margin: 0px;
  list-style-type: none;
}

/*---------------------------------------------*/

input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus,
input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

textarea:focus:-moz-placeholder {
  color: transparent;
}

textarea:focus::-moz-placeholder {
  color: transparent;
}

textarea:focus:-ms-input-placeholder {
  color: transparent;
}

input::-webkit-input-placeholder {
  color: #adadad;
}

input:-moz-placeholder {
  color: #adadad;
}

input::-moz-placeholder {
  color: #adadad;
}

input:-ms-input-placeholder {
  color: #adadad;
}

textarea::-webkit-input-placeholder {
  color: #adadad;
}

textarea:-moz-placeholder {
  color: #adadad;
}

textarea::-moz-placeholder {
  color: #adadad;
}

textarea:-ms-input-placeholder {
  color: #adadad;
}

/*---------------------------------------------*/

button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}

/*//////////////////////////////////////////////////////////////////
  [ Utility ]*/

.txt1 {
  font-size: 15px;
  color: #999999;
  line-height: 1.5;
}

.txt2 {
  font-size: 15px;
  color: #57b846;
  line-height: 1.5;
}

/*//////////////////////////////////////////////////////////////////
  [ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  display: flex;
}

.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #fff;
}

.wrap-login100 {
  width: 390px;
  background: #fff;
}

/*------------------------------------------------------------------
  [ Form ]*/

.login100-form {
  width: 100%;
}

.login100-form-title {
  display: block;
  font-size: 39px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
}

.ftitle2 {
  font-size: 20px;
}

.login100-form-avatar {
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}

.login100-form-avatar img {
  width: 100%;
}

/*------------------------------------------------------------------
  [ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #d9d9d9;
  margin-bottom: 40px;
}

.input100 {
  font-size: 18px;
  color: #555555;
  line-height: 1.2;
  display: block;
  width: 100%;
  height: 52px;
  background: transparent;
  padding: 0 5px;
}

/*---------------------------------------------*/

.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  background: #57b846;
}

.focus-input100::after {
  font-size: 18px;
  color: #999999;
  line-height: 1.2;
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 15px;
  left: 0px;
  padding-left: 5px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100::after {
  top: -20px;
  font-size: 15px;
}

.input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::after {
  top: -20px;
  font-size: 15px;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}

/*------------------------------------------------------------------
  [ Button ]*/

.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0px 50px;
}

.login100-form-btn {
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  background-color: #57b846;
  border-radius: 25px;
  box-shadow: 0 10px 30px 0px rgba(87, 184, 70, 0.5);
  -moz-box-shadow: 0 10px 30px 0px rgba(87, 184, 70, 0.5);
  -webkit-box-shadow: 0 10px 30px 0px rgba(87, 184, 70, 0.5);
  -o-box-shadow: 0 10px 30px 0px rgba(87, 184, 70, 0.5);
  -ms-box-shadow: 0 10px 30px 0px rgba(87, 184, 70, 0.5);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  background-color: #333333;
  box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
  -webkit-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
  -o-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
  -ms-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
}

/*------------------------------------------------------------------
  [ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0px;
  pointer-events: none;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-size: 16px;
  color: #c80000;
  display: block;
  position: absolute;
  background-color: #fff;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 5px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

/*//////////////////////////////////////////////////////////////////
  [ Login more ]*/

.login-more li {
  position: relative;
  padding-left: 16px;
}

.login-more li::before {
  content: "";
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #cccccc;
  top: 45%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
}

.toast-message {
  top: 20px !important;
}

@media screen and (max-width: 1024px) {
  .toast-message {
    top: 80px !important;
  }
}

.toast-message2 {
  top: 20px !important;
}

.toastH {
  position: fixed;
  top: 20px;
}

.main-body {
  height: calc(100vh - 180px);
  width: calc(100vw - 330px);
  background-color: #fff;
  position: fixed;
  top: 150px;
  left: 290px;
  border-radius: 15px;
  padding: 50px 30px 20px 30px;
}

.main-body2 {
  background-color: #f9f9f9 !important;
  height: fit-content !important;
}

.main-body3 {
  left: 250px !important;
  width: calc(100vw - 250px);
  overflow-y: scroll;
}

.sub-body {
  height: 100%;
  overflow: scroll;
  scrollbar-width: none !important;
}

.sub-body::-webkit-scrollbar {
  width: 0px !important;
}

.sub-body::-webkit-scrollbar-thumb {
  border-radius: 0px !important;
}

.nobar {
  scrollbar-width: none !important;
}

.nobar::-webkit-scrollbar {
  width: 0px !important;
}

.nobar::-webkit-scrollbar-thumb {
  border-radius: 0px !important;
}

@media screen and (max-width: 1024px) {
  .main-body {
    height: calc(100vh - 121px);
    width: 100vw;
    top: 115px;
    left: 0px;
    border-radius: 0px;
    padding-top: 20px;
  }
  .main-body3 {
    left: 0px !important;
    width: 100vw;
  }
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.loader {
  border: 3px solid #f3f3f3;
  border-top: 3px dotted #333;
  border-right: 3px dotted #333;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.postHead {
  height: 44px;
}

.postHead h5 {
  font-size: 20px;
  margin-bottom: 0px;
}

.borderedContainer {
  border: 1px solid #aaa;
  padding: 20px;
  border-radius: 10px;
  display: flex;
}

.borderedContainer2 {
  border: 1px solid #aaa;
  padding: 20px;
  border-radius: 10px;
}

.profileImage img {
  border-radius: 100%;
  height: 80px;
  width: 80px;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profileInfo h5 {
  font-size: 15px;
  color: black;
  margin-bottom: 2px;
}

.profileInfo p {
  font-size: 14px;
  color: #888;
  margin-bottom: 2px;
}

.profileInfoBody {
  height: calc(100% - 124px);
  overflow-y: scroll;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #ddd #fff;
}

*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 2px;
}

*::-webkit-scrollbar-track {
  background-color: #fff;
}

.greyScroll {
  scrollbar-width: thin;
  scrollbar-color: #fff #f9f9f9;
}

.greyScroll::-webkit-scrollbar {
  width: 4px;
}

.greyScroll::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 2px;
}

.greyScroll::-webkit-scrollbar-track {
  background-color: #f9f9f9;
}

.borderedTitle {
  color: #333;
  font-size: 15px;
  font-weight: 600;
}

.paddedInfo {
  display: flex;
}

.paddedInfo div {
  max-width: 100%;
  width: 200px;
}

.paddedInfo p {
  font-size: 13px;
  color: #888;
  margin-bottom: 0px;
}

@media screen and (max-width: 1024px) {
  .paddedInfo {
    flex-direction: column;
  }
}

.buttonDiv {
  padding-top: 20px;
  display: flex;
  height: 60px;
}

/* modal styles */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex !important;
  justify-content: center;
  align-items: center;
  z-index: 1001 !important;
}

.modal-content {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s ease-in-out;
  z-index: 999 !important;
  max-height: 90vh;
  overflow-y: scroll;
}

@media screen and (max-width: 1024px) {
  .modal-content {
    max-width: 95%;
  }
}

.modal-content h5 {
  font-size: 20px;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-size: 14px;
  color: #555;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.modal-buttons .btn {
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-buttons .btn-primary {
  background-color: #57b846;
  color: #fff;
  transition: background-color 0.3s ease;
}

.modal-buttons .btn-primary:hover {
  background-color: #45a035;
}

.modal-buttons .btn-secondary {
  background-color: #ccc;
  color: #333;
  transition: background-color 0.3s ease;
}

.modal-buttons .btn-secondary:hover {
  background-color: #bbb;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* end modal styles */

.formError {
  color: #c80000;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
  margin-bottom: 0px;
}

.formErrorDiv {
  border: 1px solid #c80000;
  padding: 3px 5px;
  border-radius: 5px;
  margin-bottom: 20px;
  align-items: center;
  width: fit-content;
  display: flex;
}

.formErrorDiv svg {
  margin-right: 10px;
  color: #c80000;
}

.btnspinner {
  height: 20px !important;
  width: 20px !important;
}

.desktopSeperator {
  display: block;
}

.desktopFilterMain {
  display: none;
}

.collapsed-list {
  margin-top: 10px;
  padding: 0px;
  max-height: 240px;
  overflow-y: scroll;
}

.collapsed-list li {
  display: flex;
  align-items: center;
  margin: 15px 0px;
}

.collapsed-list li input[type="checkbox"],
.collapsed-list li input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid #000;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  position: relative;
  outline: none;
  margin-right: 5px;
  transition:
    background-color 0.3s ease,
    border-color 0.3s ease;
}

.collapsed-list li input[type="radio"] {
  border-radius: 100% !important;
}

.collapsed-list li input[type="checkbox"]:checked,
.collapsed-list li input[type="radio"]:checked {
  background-color: #0057ff;
  border-color: #0057ff;
}

.collapsed-list li input[type="checkbox"]:focus,
.collapsed-list li input[type="radio"]:focus {
  border-color: #0057ff !important;
}

.collapsed-list li span {
  font-size: 14px;
  font-weight: 700;
}

.filterHeading {
  font-size: 20px;
  margin: 0px;
  font-weight: 700;
}

.filterSeperator {
  border-bottom: 1px solid #aaa;
  max-height: 40px;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

.filterSeperator div .header {
  height: 40px;
}

.searchBody {
  height: calc(100vh - 350px);
}

.searchResult {
  width: 100%;
  background-color: white;
  display: flex;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 40px;
}

.searchImage {
  background-color: #eeeeee;
  height: 146px;
  aspect-ratio: 260 / 146;
  align-items: center;
  justify-content: center;
  display: flex;
}

.searchContent {
  padding: 10px 20px 20px 20px;
}

.sContentHeader {
  width: 100%;
  display: flex;
  justify-content: end;
}

.sContentHeader svg {
  height: 14px;
  width: 14px;
}

.sContentHeader2 svg {
  height: 20px;
  width: 20px;
}

.course-badge {
  background-color: rgba(27, 145, 255, 0.1);
  color: #0057d2 !important;
  font-size: 11px !important;
}

.searchBadge {
  height: 19px;
}

.searchTitle {
  margin: 10px 0px;
}

.searchTitle span {
  font-size: 16px;
  font-weight: 700;
  color: #4d4d4d;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.searchDesc span {
  font-size: 1rem;
  line-height: 1.1;
  color: #707070;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-family: "Montserrat", Lato;
}

@media screen and (min-width: 769px) {
  .searchDesc span {
    font-size: 0.9rem;
    -webkit-line-clamp: 2;
    line-clamp: 2;
  }
}

.courseDefault {
  height: 55px;
  width: auto;
}

.sContentHeader2 {
  display: none;
}

@media screen and (max-width: 649px) {
  .searchResult {
    display: block;
  }
  .searchImage {
    aspect-ratio: 260 / 146;
    width: 100%;
    height: auto;
  }
  .sContentHeader {
    display: none;
  }
  .sContentHeader2 {
    display: block;
    position: relative;
    top: 12px;
    right: 8px;
  }
  .sContentHeader2 svg {
    position: absolute;
    right: 5px;
  }
}

.searchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.sortContainer {
  display: flex;
  justify-content: space-between;
  width: 260px;
}

.btn-reset {
  background-color: transparent !important;
  border: 1px solid #dfdfdf !important;
  color: #333 !important;
  border-radius: 4px !important;
  cursor: pointer !important;
  font-size: 12px !important;
  margin-right: 10px;
  transition-duration: 0.3s !important;
}

.btn-reset:hover {
  border-color: #8c8c8c !important;
  background-color: #eaeaea !important;
}

.sortContainer button {
  margin-right: 0px;
}

.searchBarContainer {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #333;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
}

.searchBarContainer svg {
  margin-right: 20px;
}

.searchBar,
.searchBar:focus {
  border: none;
  outline: none;
  font-size: 15px;
  width: calc(100% - 38px);
}

@media screen and (min-width: 1024px) {
  .sortContainer button {
    margin-right: 50px;
  }
  .sortContainer {
    width: 400px;
    justify-content: end;
  }
  .searchBarContainer {
    width: 600px;
  }
  .sortContainer {
    width: 600px;
  }
  .desktopSeperator {
    display: flex;
  }
  .filterHeading {
    font-size: 18px;
  }
  .desktopFilterMain {
    display: block;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 200px;
    height: fit-content;
  }
  .searchBody {
    padding-left: 30px;
    width: calc(100% - 200px);
  }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .filterHeading {
    font-size: 1.3vw;
  }
}
